<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml", xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Websocket ChatRoom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <style>
        [v-cloak] {
            display: none;
        }

    </style>
</head>
<body>
<div>
    <button onclick="location.href=`/chat/room`">돌아가기</button>
</div>
<div class="container" id="app" v-cloak>
    <div>
        <h2>{{room.name}}</h2>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <label>받는사람</label>
        <input type="text" class="form-control" id="chatMateEmail">
        <label>보내는사람</label>
        <input type="text" class="form-control" id="myEmail" th:value="${email}">
        <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="sendMessage">보내기</button>
            <button class="btn btn-primary" id="btn-connect" type="button">연결</button>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" v-for="message in messages">
            {{message.sender}} - {{message.message}}
        </li>
    </ul>
    <div></div>
</div>
<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script>
    //alert(document.title);
    // websocket & stomp initialize
    var sock = new SockJS("/ws/chat");
    var ws = Stomp.over(sock);
    var reconnect = 0;
    let myEmail = $('#myEmail').val();
    let chatMateEmail = $('#chatMateEmail').val();
    // vue.js
    var vm = new Vue({
        el: '#app',
        data: {
            roomId: '',
            room: {},
            sender: '',
            message: '',
            messages: []
        },
        created() {
            this.roomId = localStorage.getItem('wschat.roomId');
            this.sender = localStorage.getItem('wschat.sender');
            //this.findRoom();
        },
        methods: {
            //findRoom: function() {
                //axios.get('/chat/room/'+this.roomId).then(response => { this.room = response.data; });
            //},
            sendMessage: function() {
                let myEmail = $('#myEmail').val();
                let chatMateEmail = $('#chatMateEmail').val();
                ws.send("/app/chat/" + myEmail + "/" + chatMateEmail, {email : myEmail}, this.message);
            },
            recvMessage: function(message) {
                let chatMateEmail = $('#chatMateEmail').val();
                this.messages.unshift({"type":message, "sender": chatMateEmail, "message":message})
            }
        }
    });

    function connect() {
        let myEmail = $('#myEmail').val();
        let chatMateEmail = $('#chatMateEmail').val();

        // pub/sub event
        let header = {
            'login' : 'ddd',
            'passcode' : 'ddd',
            'email': myEmail
        }
        ws.connect(header, function(frame) {
            ws.subscribe("/queue/messages/"+ chatMateEmail + "/" + myEmail, function(message) {
                vm.recvMessage(message.body);
            }, {
                'email': myEmail
            });
        }, function(error) {
          if(reconnect++ <= 5) {
              setTimeout(function() {
                  console.log("connection reconnect");
                  sock = new SockJS("/ws/chat");
                  ws = Stomp.over(sock);
                  connect();
              },10*1000);
          }
        });
    }

    $('#btn-connect').on('click', function() {
        sock = new SockJS("/ws/chat");
        ws = Stomp.over(sock);
        reconnect = 0;
        connect();
    });
</script>
</body>
</html>